{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid and on
  the homepage.

{% endcomment %}

  {% comment %}
    Use capture to put the collection title in a variable that is used in liquid filters
  {% endcomment %}
  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

{% if template == "index" %}
  {% assign collection = collections[featured] %}
{% endif %}
<!-- snippets/collection-grid-item.liquid -->

  {% if index == 1 %}
    {% assign collection_item_width = 'large--one-whole' %}
  {% elsif index == 2 %}
    {% assign collection_item_width = 'large--one-half medium--one-half' %}
  {% elsif index == 3 %}      
    {% assign collection_item_width = 'large--one-third medium--one-half' %}
  {% else %}
    {% assign collection_item_width = 'large--one-quarter medium--one-half' %}
  {% endif %}

  <div class="grid__item {{ collection_item_width }} text-center">
    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
      {% if collection.image %}
        {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
      {% else %}
        {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
      {% endif %}
    </a>
    <p class="featured-collection-info">
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
      {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
    </p>
  </div>